<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        .container {
            padding: 20px 0;
        }

        table {
            border: 1px solid black;
        }

        table tbody {
            text-align : center;
        }

        table tbody tr:nth-child(even) {
            background-color: #f2f2f2 !important;
        }

        table tbody tr img {
            margin: 10px;
        }

        a, p {
            margin-top: 5px;
        }
    </style>
</head>
<body>
<div class="container" >
    <table id="videolist">
        <thead>
            <th>Videos</th>
        </thead>
        <tbody>
        
        <script>
            var table = $(document).ready(function(){

                let reqQuery = <%- JSON.stringify(req.query) %>;

                $("#videolist").DataTable({
                    "columns": [
                        {
                            mRender: (data, type, row) => {
                                return `<img src="${row.thumbnail}" />
                                <br>
                                <a href="https://www.youtube.com/watch?v=${row.video_id}">${row.title}</a>
                                <p>${row.published_at}</p>
                                <p>${row.description}</p>
                                `
                            }
                        }
                    ],
                    "processing": true,
                    "serverSide": true,               
                    "language": {                
                        "infoFiltered": ""
                    },
                    "pageLength" : reqQuery.limit ? reqQuery.limit : 10,
                    "search" : {
                        search : reqQuery.find ? reqQuery.find : '',
                    },
                    "ajax": (data, callback, settings) => {
                        
                        let queryParams = []

                        queryParams.push(`limit=${data.length}`)
                        
                        queryParams.push(`find=${data.search.value}`)

                        queryParams.push(`page=${(data.start/data.length) + 1}`)

                        queryParams.push(`sort=${data.order[0]['dir']}`)

                        let finalQuery = `?${queryParams.join('&')}`

                        $.ajax({
                            'url':`api/v1/videos${finalQuery}`,
                            'type':'GET',                                                
                            "dataType": "json",
                        })
                        .done((json) => {
                            callback(json)
                        })
                    },
                    "pagingType": "simple_numbers",
                    "dom" : "fltip",
                    "stateSave":true,
                    "order":[[0,"desc"]]
                });
            });
        </script>
        </tbody>
    </table>
</div>
</body>
</html>